* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstcorpo {
    display: flex;
    justify-content: center; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    height: 80vh; /* Altura ajustada conforme necessário */
}

.container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
}

.texto {
    padding: 20px;
}

.foto {
    padding: 20px;
}
div img{
    height: 100px;
    width: 100px;
}
